@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Manrope Variable', ui-sans-serif, system-ui, sans-serif;
    --font-display: 'Barlow Condensed', ui-serif, Georgia, serif;

    --color-body: #f0f4ff;
    --color-heading: #1a1f4e;
    --color-text: #3d4a7a;
    --color-accent: #6c63ff;
    --color-panel: #ffffff;
}
@layer components {
    .tazko-btn {
        @apply inline-flex items-center justify-center px-6 py-3
        text-sm font-semibold tracking-wide
        rounded-md shadow-md
        transition-all duration-200 ease-in-out cursor-pointer
        hover:shadow-lg hover:bg-accent/80
        active:scale-95
        focus-visible:outline-none focus-visible:ring-4
        focus-visible:ring-offset-2;

        background: var(--color-accent);
        color: white;
    }
    .container {
        @apply mx-auto px-5;
    }
}
@layer base {
    body {
        @apply font-sans antialiased;
        background: var(--color-body);
        color: var(--color-heading);
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-display ;
        font-weight: 700;
        letter-spacing: 0.02em;
    }

    img, svg, video {
        max-width: 100%;
        height: auto;
    }
    a{
        @apply text-accent
    }
    h1{
        font-size: 56px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 36px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 18px;
    }
    select option {
        background: var(--color-panel);
    }
    .input-field{
        @apply w-full px-4 py-3 rounded-sm border focus:border-accent border-heading focus:outline-none text-sm leading-tight;
    }
    .input-field.radius-left-0{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

}

.toast-close{
    color: var(--color-heading);
}
.os-scrollbar-handle {
    background: var(--color-accent);
}
.os-scrollbar-handle:hover{
    background: var(--color-accent);
    cursor: grabbing;
}
body>.os-scrollbar {
    z-index: 9999;
    background-color: var(--color-panel)
}
