@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Manrope Variable', ui-sans-serif, system-ui, sans-serif;
    --font-display: 'Barlow Condensed', ui-serif, Georgia, serif;

    --color-body: #fcf8f3;
    --color-heading: #2b373e;
    --color-text: #334b5c;
    --color-accent: #FF9B51;
    --color-panel: #f9f9f9;
}
@layer components {
    .tazko-btn {
        @apply inline-flex items-center justify-center px-6 py-3
        text-sm font-semibold tracking-wide
        rounded-md shadow-md
        transition-all duration-200 ease-in-out cursor-pointer
        hover:shadow-lg hover:bg-accent/80
        active:scale-95
        focus-visible:outline-none focus-visible:ring-4
        focus-visible:ring-offset-2;

        background: var(--color-accent);
        color: white;
    }
    .container {
        @apply mx-auto;
    }
}
@layer base {
    body {
        @apply font-sans antialiased;
        background: var(--color-body);
        color: var(--color-heading);
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-display ;
        font-weight: 700;
        letter-spacing: 0.02em;
    }

    img, svg, video {
        max-width: 100%;
        height: auto;
    }

}
a{
    @apply text-accent
}
h1{
    font-size: 56px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
.input-field{
    @apply w-full px-4 py-3 rounded-sm border focus:border-accent border-heading focus:outline-none text-sm leading-tight;
}
.input-field.radius-left-0{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.toast-close{
    color: var(--color-theme);
}
.os-scrollbar-handle {
    background: var(--color-theme);
}
body>.os-scrollbar {
    z-index: 9;
}
select option {
    background: var(--color-panel);
}